:root {
  --spacing: 86px;
}

.layoutRoot {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1;
}

.content:after {
  --spacing: 86px;
  content: '';
  display: block;
  position: fixed;
  top: var(--spacing);
  left: 0;
  background-image: url(/static/vectors/tavern.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-size: contain;
  background-position: 50% 50%;
  height: 90%;
  height: calc(100% - var(--spacing) - 20px);
  width: 100%;
  opacity: 0.1;
  z-index: -1;
}
@media (min-width: 0px) and (orientation: landscape) {
  .content:after {
    --spacing: 78px;
  }
}
@media (min-width: 600px) {
  .content:after {
    --spacing: 94px;
  }
}
